.holy-grail-flexbox {
    display:flex;
    flex-flow: row wrap;
    box-sizing:border-box;
    width: 100%;
    padding: 0;
    margin: 0;
    color: rgb(64, 46, 46);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.header {
    width: 100%;
    height: 100px;
    order: -2;
    background: #99A98F;
}

.main-content {
    width: 100%;
    background:#C1D0B5;
}

.left-sidebar {
    width: 100%;
    background:#D6E8DB;
}

.right-sidebar {
    width: 100%;
    background:#e0f4e5;
}

.footer {
    width: 100%;
    height: 110px;
    padding: 10px;;
    background: rgb(119, 150, 119);
}

.previous, .next {
    background-color: rgb(184, 235, 252);
    width: fit-content;
    padding: 10px;
    border: none;
}

.previous:hover, .next:hover {
    background-color: rgb(255, 194, 141);
}

table {
    padding: 15px;
}

table tr td {
    width: 30%;
}

h1, h2 {
    padding: 15px;
}

.image-frog {
    width: 300px;
    height: auto;
    opacity: 0.9;
}

.image-michael-scott-no {
    width: 50px;
    height: auto;
}

@media (min-width:635px) {
    .header {
        width: 100%;
        order:-2;
    }

    .left-sidebar, .right-sidebar {
        width:50%;
    }

    .footer {
        width: 100%;
    }

}

@media (min-width:1024px) {
    .header {
        width: 100%;
        order:-2;
    }

    .left-sidebar {
        order:-1; 
    }

    .main-content {
        width:50%;
    }

    .left-sidebar, .right-sidebar {
        width:25%;
    }

    .footer {
        width: 100%;
    }

}